/* line 1, ../sass/sass/map.sass */
div#nav {
  width: 16%;
  height: 100%;
  position: fixed;
  left: 0px;
  z-index: 99;
  background-color: white;
  padding: 12px;
  background-color: #eeeeee;
  transition: all 2s linear;
  display: block;
  visibility: hidden;
  visibility: visible;
  transition: visibility 10.2s linear;
}
/* line 16, ../sass/sass/map.sass */
div#nav div.field {
  box-shadow: 0px 0px 1px;
  border-radius: 5px;
  padding: 10px 3px;
  margin-bottom: 17px;
  background-color: white;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 26, ../sass/sass/map.sass */
div#nav div.field h4 {
  margin: 0px;
  margin-bottom: 6px;
  font-weight: lighter;
  font-size: 14px;
}
/* line 33, ../sass/sass/map.sass */
div#nav div.field input[type="text"] {
  padding: 9px 12px;
  width: 87%;
  margin-top: -5px;
}
/* line 39, ../sass/sass/map.sass */
div#nav div.field button {
  padding: 12px;
}

/* line 42, ../sass/sass/map.sass */
#set {
  position: fixed;
  background-color: #333333;
  height: 100%;
  color: white;
  left: 0px;
  z-index: 99;
  left: 16%;
  transition: left 0.14s linear;
}
/* line 53, ../sass/sass/map.sass */
#set .menu1:hover {
  color: black;
}
/* line 56, ../sass/sass/map.sass */
#set a.menu {
  background-color: #dddddd;
  padding: 0px;
  margin: 5px;
  height: 40px;
  width: 40px;
  border-radius: 7px;
  text-align: center;
  font-size: 23px;
  color: black;
  display: block;
}
/* line 68, ../sass/sass/map.sass */
#set a.menu i {
  display: block;
  padding: 8px 0px;
}
/* line 73, ../sass/sass/map.sass */
#set a.menu:hover {
  color: blue;
}

/* line 76, ../sass/sass/map.sass */
div#info {
  width: 18%;
  min-height: 20px;
  background-color: rgba(255, 255, 255, 0.93);
  color: #444444;
  z-index: 99;
  border-radius: 8px;
  position: fixed;
  right: 50px;
  top: 40px;
  max-height: 87%;
  overflow: auto;
  padding: 10px;
  border: 1px solid #bbbbbb;
  border-top: 6px solid black;
  font-size: 12px;
  display: none;
  -webkit-transition: width 2s;
  transition: width 2s;
  max-height: 88%;
  overflow: auto;
  display: block;
  background-color: rgba(255, 255, 255, 0.23);
}
/* line 100, ../sass/sass/map.sass */
div#info table.user {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.94);
  border-radius: 5px;
}
/* line 106, ../sass/sass/map.sass */
div#info table.user tr {
  background-color: transparent;
}
/* line 108, ../sass/sass/map.sass */
div#info table.user th {
  text-align: left;
  width: 26%;
}
/* line 112, ../sass/sass/map.sass */
div#info table.user td {
  text-align: left;
}
/* line 115, ../sass/sass/map.sass */
div#info table.user td .icon {
  font-style: italic;
  font-weight: 100;
  margin-bottom: 9px;
  border-right: 4px solid;
}
/* line 121, ../sass/sass/map.sass */
div#info table.user td .icon span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #0044ff;
  border-radius: 10px;
  margin: 0px 7px;
}

/* line 129, ../sass/sass/map.sass */
div#map {
  right: 0;
  width: 97%;
  height: 100%;
  position: absolute;
  width: 81.02%;
  transition: width 0.14s linear;
}

/* line 137, ../sass/sass/map.sass */
#loading {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  display: none;
  background-color: rgba(0, 0, 0, 0.56);
}

/* line 146, ../sass/sass/map.sass */
.hidden {
  display: none;
}

/* line 149, ../sass/sass/map.sass */
.visuallyhidden {
  opacity: 0;
}

/* line 152, ../sass/sass/map.sass */
.noLeft {
  left: 0;
}

/* line 155, ../sass/sass/map.sass */
.navSetLeft {
  left: 16.5%;
}

/* line 159, ../sass/sass/map.sass */
.field fieldset {
  border-radius: 4px;
  padding: 8px 10px;
}
/* line 163, ../sass/sass/map.sass */
.field fieldset legend {
  font-size: 17px;
  text-transform: capitalize;
  font-weight: normal;
}

/* line 169, ../sass/sass/map.sass */
div.alltellers ul {
  padding: 0px;
  margin: 0px;
}
/* line 173, ../sass/sass/map.sass */
div.alltellers ul li {
  list-style-type: none;
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 10px;
  border-top: 5px solid #aaaaaa;
  padding: 3px 8px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 183, ../sass/sass/map.sass */
div.alltellers ul li:hover {
  cursor: pointer;
  background-color: rgba(250, 250, 250, 0.96);
}
/* line 187, ../sass/sass/map.sass */
div.alltellers ul li div.tellerName {
  font-weight: bold;
}
/* line 190, ../sass/sass/map.sass */
div.alltellers ul li div.amount {
  font-weight: lighter;
}

/* line 193, ../sass/sass/map.sass */
.joyride-css {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  border: 2px solid #333333;
  border-bottom: 4px solid #00cc00;
}
/* line 199, ../sass/sass/map.sass */
.joyride-css p {
  font-size: 11px;
}
/* line 202, ../sass/sass/map.sass */
.joyride-css .button {
  font-size: 11px;
  padding: 9px 20px;
  border-radius: 3px;
}

/* line 207, ../sass/sass/map.sass */
.tooltip {
  font-size: 12px;
  padding: 8px 11px;
  position: absolute;
  z-index: 9999;
  border-radius: 4px;
  border-bottom: 4px solid #00cc00;
}
